profiles {
    stub {
        stubRun = true
        process {
            {
                executor = 'local'
                cpus = 1
                memory = '1 GB'
                time = '1h'
            }
        }
        params{
            sample_id = "test"
            joint_vcf = "test/test.chr21.vcf.gz"
        }
    }
}

process {
    executor = 'slurm'
    queue = { task.memory <= 100.GB ? 'pe2' : 'bigmem' }
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
    maxRetries = 2
    maxErrors = '-1'
    cache = 'lenient'
    container = 'docker://docker.io/zinno/cellphy:latest'
}


singularity {
  enabled = true
  autoMounts = true
  cacheDir = "${HOME}/.singularity/singularity_images_nextflow"
}


executor {
  queueSize = 196
  submitRateLimit = '5 sec'
}


params {
    // I/O
    joint_vcf = "test/test.chr21.vcf.gz"
    out = "output"
    sample_id = "test"
    // CellPhy parameters
    start_tree_type = 'rand'
    evo_model = 'GT10+FO+E'
    prob_msa = 'on'
    lh_epsilon = 0.1
    n_tree_search = 10
    n_bootstrap_search = 10
    bs_trees_per_job = 10
    bs_metric = 'tbe,fbp'
    // CellPhy Resources
    tree_threads = 4
    tree_memory = '4 GB'
    // fastStrap parameters
    best_tree = "path/to/best_tree.nwk"
}

report {
    enabled = true
    overwrite = true
    file = "nextflow-report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "timeline.html"
}

dag {
    enabled = true
    overwrite = true
    file = "flowchart.html"
}

manifest {
    name = "cloudCellphy"
    version = "v0.0.1"
    author = ["John Zinno"]
    homePage = "https://github.com/jzinno/cloudCellphy"
    defaultBranch = "main"
    nextflowVersion = ">=22.10.4"
}
